@import '@/styles/mixin.scss';
@import '@/styles/var.scss';
@import '@/styles/placeholder.scss';

.form {
  margin: auto;
  display: grid;
  grid-template-columns: auto 3fr;
  flex-direction: column;
  column-gap: 0.5rem;
  row-gap: 1rem;

  align-items: center;

  @include min-width(map-get($points, sm)) {
    gap: 1rem;
  }

  label {
    margin: auto;
  }

  input {
    @extend %input-base;
    font-size: 1rem;
  }

  .ageSex {
    grid-column: span 2;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);

    select {
      max-width: 5rem;
      margin: auto;
    }

    input {
      max-width: 5rem;
      margin: auto;
    }
  }

  .address {
    display: flex;
    gap: 0.5rem;

    button {
      @extend %button-black;
      padding: 0.5rem 0.5rem;
      height: 2.6rem;
    }
  }

  .footer {
    grid-column: span 2;
    margin-top: 1rem;
    button {
      @extend %button-black;
      margin: auto;
    }
  }
}
