@import '@/styles/mixin.scss';
@import '@/styles/var.scss';
@import '@/styles/placeholder.scss';

.displayStep {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1.5rem;

  @include min-width(map-get($points, ss)) {
    justify-content: start;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  div {
    position: relative;
    padding: 0.5rem 1rem;
    color: var(--fitta-text-color-default);
    z-index: 0;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) skew(30deg);
      width: 3rem;
      height: 1.5rem;
      background-color: var(--fitta-text-color-reverse);
      transition: all 2s ease;
      content: '';
      z-index: -1;
      @include box-shadow(--fitta-background-color);
    }
  }

  .current {
    color: var(--fitta-text-color-reverse);

    &::before {
      background-color: var(--fitta-text-color-default);
    }
  }
}

%step-base {
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-size: 1.5rem;
  }

  table {
    margin: auto;

    @include min-width(map-get($points, md)) {
      scale: 1.5;
      margin: 3rem auto;
    }
  }

  footer {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 3rem;

    @include min-width(map-get($points, md)) {
      padding: 0 3rem;
    }

    .prevButton {
      @extend %button-white;
      padding: 0.5rem 1rem;
    }

    .nextButton {
      @extend %button-black;
      padding: 0.5rem 1rem;
    }
  }
}

.step1 {
  @extend %step-base;

  .interface {
    label {
      padding: 0.5rem;
    }

    input {
      @extend %input-underline;
      margin-bottom: 4rem;
    }

    textArea {
      display: block;
      @extend %input-underline;
    }
  }
}

.step2 {
  @extend %step-base;
}

.step3 {
  @extend %step-base;
}

.step4 {
  @extend %step-base;

  .interface {
    .staff {
      p {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.5rem;
      }
      button {
        display: inline-block;
        @extend %button-black;
        padding: 0.5rem 0.5rem;
      }
    }
    .price {
      input {
        @extend %input-underline;
      }
    }
  }
}

.reset {
  display: flex;
  flex-direction: row-reverse;

  @include min-width(map-get($points, md)) {
    padding: 0 3.75rem;

    button {
      padding: 0.5rem;
      color: var(--fitta-text-color-light);
      transition: color 0.3s ease;

      &:hover {
        color: var(--fitta-text-color-default);
      }
    }
  }
}
