@import '@/styles/mixin.scss';
@import '@/styles/var.scss';
@import '@/styles/placeholder.scss';

.displayStep {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1.5rem;

  @include min-width(map-get($points, ss)) {
    justify-content: start;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  div {
    position: relative;
    padding: 0.5rem 1rem;
    color: var(--fitta-text-color-default);
    z-index: 0;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) skew(30deg);
      width: 3rem;
      height: 1.5rem;
      background-color: var(--fitta-text-color-reverse);
      transition: all 2s ease;
      content: '';
      z-index: -1;
      @include box-shadow(--fitta-background-color);
    }
  }

  .current {
    color: var(--fitta-text-color-reverse);

    &::before {
      background-color: var(--fitta-text-color-default);
    }
  }
}

.step1 {
  // background-color: red;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-size: 1.5rem;
  }

  .interface {
    label {
      padding: 0.5rem;
    }

    input {
      @extend %input-underline;
      margin-bottom: 4rem;
    }

    textArea {
      display: block;
      @extend %input-underline;
    }
  }

  footer {
    display: flex;
    justify-content: end;

    button {
      @extend %button-black;
      padding: 0.5rem 1rem;
    }
  }
}
