@import 'mixin';
@import 'var';

%button-base {
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  border: 1px solid map-get($colors, gray);
}

%button-white {
  @extend %button-base;
  background-color: map-get($colors, white);
  color: map-get($colors, black);

  &:hover {
    background-color: darken(map-get($colors, white), 20%);
    @include transition(background-color, 0.1s, $bezier-curve);
  }
}

%button-black {
  @extend %button-base;
  background-color: map-get($colors, black);
  color: map-get($colors, white);

  &:hover {
    background-color: lighten(map-get($colors, black), 10%);
    @include transition(background-color, 0.1s, $bezier-curve);
  }
}

%caution-letter {
  display: none;
  position: absolute;
  bottom: -1.75rem;
  color: red;
  &::before {
    content: '* ';
  }

  &.show {
    display: block;
  }
}
