$min-width: 300px;
$nav-z-index: 100;
$modal-z-index: 300;

$points: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
  full: 1900px,
);

$colors: (
  white: #fff,
  transparent: rgb(0, 0, 0, 0.3),
  ligthBlack: #3c3c3c,
);
