@import '@/styles/mixin.scss';
@import '@/styles/var.scss';
@import '@/styles/placeholder.scss';

:root {
  --fitta-text-color-default: #1c1c1c;
  --fitta-text-color-light: #c0c0c0;
  --fitta-text-color-reverse: #fff;
  --fitta-background-color: #fff;
  --fitta-background-color-hover: #5c5c5c;
  --fitta-box-shadow-color: #7c7c7c;
  --fitta-calendar-background-color: #fffbf5;
  --fitta-calendar-surround-color: #9bbeca1a;
  --fitta-calendar-saturday-color: #d0efff;
  --fitta-calendar-sunday-color: #ffd6d6;
}

:root[color-mode='dark'] {
  --fitta-text-color-default: #fff;
  --fitta-text-color-light: #c0c0c0;
  --fitta-text-color-reverse: #1c1c1c;
  --fitta-background-color: #5c5c5c;
  --fitta-background-color-hover: #fff;
  --fitta-box-shadow-color: #fff;
  --fitta-calendar-background-color: #979797;
  --fitta-calendar-surround-color: #313131e3;
  --fitta-calendar-saturday-color: #58a9d1;
  --fitta-calendar-sunday-color: #b96060;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fitta-text-color-default);
  background-color: var(--fitta-background-color);
  font-family: 'Pretendard Variable', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
  transition: all 0.3s ease;
}

a,
h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
span,
input,
textarea,
label,
button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  // list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

a,
button {
  background: inherit;
  cursor: pointer;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid black;
    border-radius: 5px;
    outline-offset: 2.5px;
    z-index: 10;
  }

  &.active {
    //NavLink
    color: red;
    cursor: default;
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.empty {
  background-color: #ffb3b3;
}
