@import '@/styles/mixin.scss';
@import '@/styles/var.scss';
@import '@/styles/placeholder.scss';

.main {
  // min-width: $min-width;
  min-height: calc(100vh - 4rem - 5rem - 1rem);
  max-width: calc(map-get($points, xl) - 0.5rem * 2);
  padding: 0.5rem;
  margin: 4rem auto 0 auto;
  background-color: map-get($colors, white);

  @include min-width(map-get($points, ss)) {
    min-height: calc(100vh - 4rem - 5rem - 1.75rem - 0.5rem);
    padding: 1.75rem 0.5rem 0.5rem 0.5rem;
  }
}

.footer {
  height: 5rem;
  background-color: map-get($colors, ligthBlack);
  max-width: map-get($points, xl);
  margin: auto;
}

.modal {
  position: fixed;
  z-index: $modal-z-index;
  top: 0;
  left: 0;
  // min-width: $min-width;
  width: 100vw;
  height: 100vh;
  background-color: map-get($colors, transparent);
  cursor: pointer;

  & > div {
    position: relative;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translateX(-50%) translateY(-60%);
    border-radius: 5px;
    background-color: map-get($colors, white);
    display: flex;
    flex-direction: column;
    cursor: default;
    @include box-shadow();

    @include min-width(map-get($points, sm)) {
      width: 30rem;
    }

    header {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      border-bottom: 1px solid map-get($colors, gray);

      h1 {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .close {
        width: 2rem;
        height: 2rem;
        border-radius: 5px;

        &:hover {
          color: map-get($colors, white);
          background-color: map-get($colors, transparent);
        }
      }
    }

    .inner {
      width: calc(100% - 1rem);
      padding: 0.5rem;
      margin: auto;
    }
  }
}
