@import '@/styles/mixin.scss';
@import '@/styles/var.scss';
@import '@/styles/placeholder.scss';

.ownerWapper {
  display: grid;

  @include min-width(map-get($points, ss)) {
    grid-template-columns: minmax(auto, 10rem) auto;
  }

  .ownerSidebar {
    position: relative;
    padding: 0.5rem;
    border-right: 1px solid map-get($colors, gray);

    & > a {
      font-weight: 600;
      margin-bottom: 1rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        a {
        }
      }
    }
  }

  .ownerSection {
    padding: 0.5rem 1rem;

    .profileSection {
      position: relative;
      padding: 1rem;
      border-radius: 10px;
      border: 2px solid map-get($colors, gray);
      margin: auto;
      display: flex;
      gap: 1rem;
      @include box-shadow();

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      & > div:last-child {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        button {
          @extend %button-black;
          padding: 0.25rem 0.75rem;
        }
      }
    }

    .gymEditForm {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 2px solid map-get($colors, gray);
      margin: auto;
      border-radius: 10px;
      padding: 1rem;
      @include box-shadow();
      max-width: 30rem;

      & > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
          font-size: 1.25rem;
        }

        input {
          font-size: 1.25rem;
          padding: 0.5rem;
          border: 2px solid map-get($colors, gray);
          border-radius: 10px;
        }

        .genderDivision {
          display: flex;
          padding: 0.5rem;
          margin: auto;
          gap: 1rem;
        }
      }

      footer {
        button {
          @extend %button-black;
          padding: 0.5rem 1rem;
          margin: auto;
        }
      }
    }
  }
}
