@import '@/styles/mixin.scss';
@import '@/styles/var.scss';
@import '@/styles/placeholder.scss';

.header {
  position: relative;

  .headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $nav-z-index;
    // min-width: $min-width;
    width: 100%;

    &:hover {
      .headerNav {
        height: 1.75rem;
      }
    }

    // header 상단
    .headerOutter {
      background-color: var(--fitta-background-color);
      @include box-shadow(true);

      .headerInner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: calc(map-get($points, xl) - 1rem * 2);
        margin: auto;
        height: 4rem;
        padding: 0 1rem;

        .logo {
          position: relative;
          width: 7.5rem;
          height: 4rem;

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            width: 120px;
            height: 35px;
            transform: translateY(-50%);
            background-image: url('../../../../public/image/logo-120px.png');
            background-repeat: no-repeat;
          }
        }

        .headerRight {
          display: none;
          align-items: center;
          gap: 1rem;

          @include min-width(map-get($points, ss)) {
            display: flex;
          }

          .signInButton {
            @extend %button-black;
            padding: 0.5rem 0.75rem;
          }

          li {
          }
        }
      }
    }

    // header 하단
    .headerNav {
      position: relative;
      margin: auto;
      height: 0;
      max-width: map-get($points, xl);
      overflow: hidden;
      transition: height 0.3s ease;
      display: none;

      @include min-width(map-get($points, ss)) {
        display: block;
      }

      &::before {
        width: 100%;
        content: '';
        position: absolute;
        background-color: map-get($colors, lightBlack);
        transform: skew(45deg) translate(1rem, 0px);
        height: 1.75rem;
        z-index: -1;
      }

      ul {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        padding: 0 2rem;

        li {
          color: map-get($colors, white);
          a {
            font-size: 1.25rem;
            line-height: 1.75rem;

            &:hover {
              color: map-get($colors, gray);
            }
          }
        }
      }
    }
  }
}
