@import '@/styles/mixin.scss';
@import '@/styles/var.scss';
@import '@/styles/placeholder.scss';

.profile {
  position: relative;
  width: 6.5rem;
  padding: 0 0.75rem;
  height: 2.5rem;
  gap: 0.5rem;
  border: 2px solid map-get($colors, gray);
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  @include box-shadow();

  .profileImageWapper {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;

    img {
      @include absolute-center();
    }
  }

  & > p {
    text-align: center;
    width: 4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.menuProfile {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
  background-color: map-get($colors, white);
  color: map-get($colors, lightBlack);
  gap: 0.5rem;
  border-bottom: 2px solid map-get($colors, gray);

  & > div:nth-child(1) {
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 0.5rem;
  }

  footer {
    button {
      @extend %button-black;
      padding: 0.25rem 0.5rem;
    }
  }
}
