@import '@/styles/mixin.scss';
@import '@/styles/var.scss';
@import '@/styles/placeholder.scss';

.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .topSection {
  }

  .recommandSection {
  }
}
