@import '@/styles/mixin.scss';
@import '@/styles/var.scss';
@import '@/styles/placeholder.scss';

.calendar {
  text-align: center;

  td {
    cursor: default;
    padding: 0.5rem;
  }

  thead {
    position: relative;
    &::before {
      top: 0;
      left: 0;
      display: block;
      position: absolute;
      content: '';
      background-color: #4e5180;
      width: 100%;
      height: 3px;
    }

    tr {
      td {
        button {
          display: flex;
          border-radius: 5px;
          padding: 0.25rem;
          @include transition(background-color, 0.1s, ease);

          &:hover {
            background-color: rgba(0.2, 0.2, 0.2, 0.2);
          }
        }

        &.saturday {
          background-color: #d0efff;
        }

        &.sunday {
          background-color: #ffd6d6;
        }
      }
    }
  }

  tbody {
    background-color: rgb(255, 251, 245);
    tr {
      td {
        position: relative;
        cursor: pointer;
        @include transition(scale, 0.1s, ease);
        &:hover {
          scale: 1.2;
        }

        &.surround {
          background-color: rgba(155, 190, 202, 0.103);
        }

        &.selected {
          &::before {
            @include absolute-center();
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-color: #4e51804f;
          }
        }

        &.start {
          &::before {
            background-color: #1cf7ff4f;
          }
        }

        &.end {
          &::before {
            background-color: #11ff304f;
          }
        }
      }
    }
  }
}
