@import '@/styles/mixin.scss';
@import '@/styles/var.scss';
@import '@/styles/placeholder.scss';

%speech-bubble {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: map-get($colors, white);
  background-color: map-get($colors, black);
  border-radius: 10px;
  @include box-shadow();
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  span {
    height: 1.5rem;
  }

  & > div {
    height: 1rem;
  }

  &::before {
    z-index: -1;
    position: absolute;
    content: '';
    width: 2rem;
    height: 2rem;
    background-color: map-get($colors, black);
    left: 50%;
    bottom: -30%;
    transform: rotateZ(45deg) translateX(-50%);
  }
}

.passwordWapper {
  position: relative;

  input {
    width: 100%;
  }

  .passwordRoule {
    @extend %speech-bubble;
    top: -200%;
    width: 120%;

    @include min-width(map-get($points, ss)) {
      width: 150%;
    }

    @include min-width(map-get($points, xl)) {
      top: -60%;
      left: 110%;
      width: 150%;
      transform: none;
    }

    &::before {
      bottom: -30%;

      @include min-width(map-get($points, xl)) {
        width: 1.5rem;
        height: 1.5rem;
        left: 1%;
        top: 45%;
        transform: rotateZ(45deg) translateX(-50%);
      }
    }
  }

  .misMatchMessage {
    @extend %speech-bubble;
    top: 250%;
    width: 120%;

    @include min-width(map-get($points, ss)) {
      width: 150%;
    }

    @include min-width(map-get($points, xl)) {
      top: -20%;
      left: 110%;
      width: 150%;
      transform: none;
    }

    &::before {
      bottom: 40%;

      @include min-width(map-get($points, xl)) {
        width: 1.5rem;
        height: 1.5rem;
        left: 1%;
        top: 45%;
        transform: rotateZ(45deg) translateX(-50%);
      }
    }
  }
}
